langchain==0.1.11
langchain_community==0.0.27
langchain_core==0.1.30
langchain_google_genai==0.0.9
langchain_mistralai==0.0.5
langchain_openai==0.0.8
llama_index==0.10.18
llama_parse==0.3.8
nest_asyncio==1.6.0
numpy==1.26.4
pandas==2.2.1
protobuf==4.25.3
python-dotenv==1.0.1
